<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Second Mock Up</title>
	<link rel="shortcut icon" href="asset/wushu_Eie_icon.ico">
	<link href='https://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Slab:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora:400' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="asset/bootstrap.min.css">
	<link rel="stylesheet" href="../asset/stylesheet.css" type="text/css">
	<script src="asset/jquery-1.11.3.min.js"></script>
	<script src="asset/functions.js"></script>
	<script>
	$(document).ready(function(){

		$(window).scroll(function(){

			var positionTop = $(window).scrollTop();

			//fade in background-color to menu on scrolldown
		    if (positionTop > 350) {
		        $('.navbar-inverse').addClass('navbar-inverse-dark');
		    } else {
		        $('.navbar-inverse').removeClass('navbar-inverse-dark');
		    }

		    // scroll to email form on click
		    $("#hireBtn").click(function() {
			    $('html, body').stop().animate({
			    	scrollTop: $("#touch").offset().top - 65
			    }, 800);
			});

			$("#contact-me").click(function() {
			    $('html, body').stop().animate({
			    	scrollTop: $("#touch").offset().top - 65
			    }, 800);
			});

		    //parallax on project descriptions
		    if(positionTop > $('.border-row').offset().top - ($(window).height() / 1.35)) {
		    	$('.not-showing').each(function(i){
		    		setTimeout(function(){
			    		$('.not-showing').eq(i).addClass('is-showing');
		    		}, 100 * (i + 1));
		    	});
		    }

		    if(positionTop > $('.border-row').offset().top - ($(window).height() / 1.35)) {
		    	$('.not-showing-b').each(function(i){
		    		setTimeout(function(){
			    		$('.not-showing-b').eq(i).addClass('is-showing');
		    		}, 100 * (i + 1));
		    	});
		    }

		});

	})
	</script>
</head>
<body>
<div class="content">
	<!-- navbar -->
	<div class="clear navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a id="navBrand" class="navbar-brand" href="#"><img src="asset/cameras12.png" alt="no image"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right pull-right">
					<li><a href="/contacts/show">My Brief</a></li>
					<li><a id="contact-me" href="#">Contact Me</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- splash image -->
	<div id="hero">
		<div id="color-layer">
			<h1 id="banner-quote" class="quickSand">Front end web solutions.</h1>
			<p class="banner-p hidden-xs">Hello, I&#39;m John and I&#39;m looking to develop websites.</p>
		</div>
	</div>
	
	<!-- call to action -->
		<div class="col-xs-12 hire-col">
			<button id="hireBtn" class="btn btn-success" >Get in Touch</button>
		</div>

	<!-- skills list -->
	<div id="top" class="container">
		<div class="row">
			<div class="hidden-xs col-sm-2"></div>
			<div class="col-xs-12 col-sm-3 body-icons">
				<h3>Front End</h3>
				<img src="asset/website8.png" alt="no image">
				<p class="top-orange-border">HTML5 / CSS3</p>
				<p>Responsive Design</p>
				<p>Javascript</p>
				<p>jQuery</p>
				<p>AngularJS</p>
				<p>Ajax / Single Page Application</p>
				<p>Boostrap + SASS / LESS</p>
			</div>
			<div class="hidden-xs col-sm-2"></div>
			<div class="col-xs-12 col-sm-3 body-icons">
				<h3>Back End</h3>
				<img src="asset/kitchen148.png" alt="no image">
				<p class="top-orange-border parallax-trigger">Ruby on Rails</p>
				<p>LAMP - Apache / MySQL / PHP</p>
				<p>MEAN - MongoDB / Express / Node.js</p>
				<p>Socket.io</p>
				<p>API</p>
				<p>MVC Frameworks</p>
				<p>Object Oriented Programming</p>
			</div>
			<div class="hidden-xs col-sm-2"></div>
		</div>
	</div>

	<!-- portfolio -->
	<h2 id="portfolio-list-header">My Projects</h2>
	<div id="portfolio-list" class="container">

		<!-- first project -->
		<div class="border-row"></div>
		<div class="row portfolio-row">
			<div class="col-xs-12 col-sm-5 col-sm-push-7">
				<a class="thumbnail not-showing-b" ><img src="asset/university.jpg" alt="no image"></a>
			</div>
			<div class="col-xs-12 col-sm-7 col-sm-pull-5 panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title not-showing">University Front Page</h3>
					</div>
					<div class="panel-body">	
						<p class="not-showing">A mockup of a university front page utilizing modern minimal design optimized for both mobile and desktop users. Currently still in progress.</p>
					</div>
					<div class="panel-footer not-showing">	
						<p class="not-showing"> 
							<ul class="technology-list">
								<li class="color">HTML5/CSS3</li>
								<li class="color">Bootstrap</li>
								<li class="color">Responsive Design</li>
								<li class="color">jQuery</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- second project -->
		<div class="border-row"></div>
		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<a class="thumbnail not-showing-b" href="https://github.com/WonJohnSoup/jquery_bootstrap_responsive_modal"><img src="asset/contactapp2.jpg" alt="no image"></a>
			</div>
			<div class="col-xs-12 col-sm-7 panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title not-showing">Responsive Contact Card App</h3>
					</div>
					<div class="panel-body">	
						<p class="not-showing">I created this app which takes input from the user and transfers it into new divs on the single page utilizing jQuery. Clicking on the newly created contact card bring up a modal window which also contains the new information.</p>
					</div>
					<div class="panel-footer not-showing">	
						<p class="not-showing"> 
							<ul class="technology-list">
								<li class="color">HTML5/CSS3</li>
								<li class="color">Bootstrap</li>
								<li class="color">Responsive Design</li>
								<li class="color">jQuery</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- third project -->
		<div class="border-row"></div>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-sm-push-7">
				<a class="thumbnail not-showing-b" href="https://github.com/WonJohnSoup/mini_MEAN_store"><img src="asset/meanstore.jpg" alt="no image"></a>
			</div>
			<div class="col-xs-12 col-sm-7 col-sm-pull-5 panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title not-showing">Responsive Mini MEAN Store</h3>
					</div>
					<div class="panel-body not-showing">	
						<p>A full stack project utilizing MongoDB, Express.js, AngularJS and Node.js. Users can input new products and place ordesr for the products. Users can also see all other users and how many of each product they have ordered.</p>
					</div>
					<div class="panel-footer not-showing">	
						<p class="not-showing"> 
							<ul class="technology-list">
								<li class="color">HTML5/CSS3</li> 
								<li class="color">Bootstrap</li> 
								<li class="color">Javascript</li> 
								<li class="color">AngularJS</li>
								<li class="color">MongoDB</li>
								<li class="color">Express</li>
								<li class="color">Node.js</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	// <!-- video banner -->
	<div id="bg-vid-holder">
		<video id="bg-vid" autoplay loop poster="asset/robotdreams2.jpg">
			<source src="asset/robotdreamsb.webm" type="video/webm" />
		</video>
		<div class="hidden-xs hidden-sm col-md-6"></div>
		<div class="col-xs-12 cold-sm-12 col-md-6">
			<h1 class="kid-banner-text">mystory.min</h1>
			<p class="kid-banner-text">Front end developer; Film-maker; Martial artist; Pharmacist; Wedding photographer; Actor extraordinaire. Click to find out more.</p>
			<a class="kid-banner-text btn btn-default" href="/contacts/show">Read my story</a>
		</div>
	</div>
	
	<!-- contact form -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 id="touch">Let&#39;s get in touch!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<img class="headshot img-circle" src="asset/john9square.jpg" alt="headshot">
			</div>
			<div class="col-xs-12 col-md-6">
				<form role="form">
					<div class="form-group">
					    <label class="lora" for="text" >Your Name:</label>
					    <input type="text" class="form-control" id="name">
				    </div>
					<div class="form-group">
					    <label class="lora" for="email" pattern=".{0}|.{2,}"   required title="Either 0 OR (2 chars minimum)">Your Email address:</label>
					    <input type="email" class="form-control" id="email">
				    </div>
					<div class="form-group">
					    <label class="lora" for="message">Your Message:</label>
					    <textarea class="form-control" rows="5"> 
						</textarea>
					</div>
				    <button type="button" class="btn btn-primary lora" data-toggle="modal" data-target="#myModal">SEND!</button>
				</form>
			</div>
		</div>
	</div>
</div>

	<!-- footer -->
	<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<div class="row">
			<div class="col-xs-12">
				<a href="#"><img src="asset/socialmedia10.png" alt=""></a>
				<a href="#"><img src="asset/github17.png" alt=""></a>
				<a href="#"><img src="asset/logotype46.png" alt=""></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>&copy; John Nguyen 2015 - Los Angeles, CA - <a href="#">wonjohnsoup@gmail.com</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 color-block">
				<h6>Coded & Designed by John Nguyen</h6>
			</div>
		</div>
	</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Debugging Time!</h4>
	        </div>
	        <div class="modal-body">
		        <p>The mail feature is currently being updated. Please email me directly at wonjohnsoup@gmail.com. Thank you!</p>
	        </div>
	        <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
	    </div>
    </div>
</div>

	<script src="library/bootstrap.js"></script>
	<script>document.getElementById('bg-vid').play();</script>
</body>
</html>