<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>My Brief</title>
	<link rel="shortcut icon" href="asset/wushu_Eie_icon.ico">
	<link href='https://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Slab:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora:400' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../asset/bootstrap.min.css">
	<link rel="stylesheet" href="../asset/stylesheet-brief.css" type="text/css">
	<script src="../asset/jquery-1.11.3.min.js"></script>
	<script src="../asset/bootstrap.js"></script>
	<script>
	$(document).ready(function(){


		$(window).scroll(function(){

			var scrollPos = $(this).scrollTop();
			
			// parallax
			$('#color-banner-quote').css({
				'transform' : 'translate(0px, '+ scrollPos /1.1 +'%)'
			});

			$('#color-banner-eyes').css({
				'transform' : 'translate(0px, '+ scrollPos /10 +'%)'
			});

			$('#color-banner-bg-reflection').css({
				'transform' : 'translate(0px, '+ scrollPos /1.4 +'%)'
			});

			$('#color-banner-bg-reflection-2').css({
				'transform' : 'translate(0px, '+ scrollPos /1.4 +'%)'
			});



			// scroll-fade in banner quote and collor; fade out banner-inner
			if(scrollPos > $('#color-banner').offset().top - 300){
				var opacity = (scrollPos - $('#color-banner').offset().top) / (scrollPos/1.8)
				$('#color-banner-quote').css({'opacity' : opacity});
				$('#color-banner-burst-green').css({'opacity' : opacity});
				$('#color-banner-inner').css({'opacity' : (1 - opacity)});
			}

		    if(scrollPos > $('#color-banner').offset().top - 300){
				var opacity = (scrollPos - $('#color-banner').offset().top) / (scrollPos/1.8)
				$('.navbar').css({'opacity' : (1 - opacity)})
			}

			if(scrollPos > $('#brief-holder').offset().top - 30){
				var opacity = (scrollPos - $('#color-banner').offset().top) / (scrollPos/1.5)
				$('.navbar').css({'opacity' : opacity})
			}
		});






	})

	</script>
</head>
<body>
		<!-- navbar -->
	<div class="clear navbar navbar-inverse navbar-fixed-top navbar-inverse-dark" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle Navgiation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a id="navBrand" class="navbar-brand" href="/contacts/new"><img src="../asset/cameras12.png" alt="no image"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right pull-right">
					<li><a href="#">My Brief</a></li>
					<li><a id="contact-me" href="#">Contact Me</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- splash image -->
	<header id="color-banner">
		<div id="color-banner-inner"></div>
		<div id="color-banner-eyes"></div>
		<!-- <div id="color-banner-burst-yellow"></div> -->
		<div id="color-banner-burst-green"></div>
		<div id="color-banner-quote"></div>
		<div id="color-banner-bg-reflection"></div>
		<div id="color-banner-bg-reflection-2"></div>
	</header>

	<!-- content body quote -->
	<div id="brief-holder" >
		<div class="row width-expand">
			<div class="hidden-sm-down col-sm-1"></div>
			<div id="left-brain" class="col-xs-12 col-sm-5">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Left Brain</h3>
					</div>
					<div class="panel-body">
						<p>My name is John and I was born, raised and forever loving it in the city of Los Angeles. Recently I was a practicing pharmacist and decided to make the big pivot to web development. It's been as natural a fit as I could have hoped for and I would love to start working on some cool projects with a great team as a front-end developer.</p>
					</div>
				</div>
			</div>
			<div id="right-brain" class="col-xs-12 col-sm-5">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Right Brain</h3>
					</div>
					<div class="panel-body">
						<p>I've been an actor/stunt-fighter, which led to being a cinematographer/director which lead to being a cosplay/wedding photographer. I've loved every moment and front-end has been a great way to merge my technical abilities with my love for art. When I'm not enjoying work, I'm enjoying life. So why not combine the two?</p>
					</div>
				</div>
			</div>
			<div class="hidden-sm-down col-sm-1"></div>
		</div>
	</div>
	
	<!-- email footer -->
	<h1 id="footer">wonjohnsoup@gmail.com</h1>
</body>
</html>